<h2>List of all games</h2>

<% @all_games.each do |game| %>
  <ul>
    <li>
      <a href="/games/<%= game["id"] %>">ID of <%= game["id"] %></a>
    </li>
    <li><strong>Game: </strong><%= game["name"] %></li>
    <li><strong>Genre: </strong><%= game["genre"] %></li>
    <li><strong>Description: </strong><%= game["description"] %></li>
    <li><strong>Cover </strong><%= game["cover"] %></li>
    <li><strong>screenshot </strong><%= game["screenshot"] %></li>
  </ul>

<% end %>
