<!DOCTYPE html>
<html>
<head>
  <title>BookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to "All Authors", authors_path(@authors) %>
    <%= link_to "Create a New Author", new_author_path %>
    <%= link_to "All Books", books_path %>
    <%= link_to "Create a New Book", new_book_path %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
