
<%= form_for @author do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :nationality %>
    <%= f.text_field :nationality, :required => true %>
  </p>
  <p>
    <%= f.label :dob, "Date of birth" %>
    <%= f.text_field :dob, :required => true %>
  </p>
  <p>
    <%= f.label :genre %>
    <%= f.text_field :genre, :required => true %>
  </p>

  <%= f.submit %>
<% end %>
