<h2>Create a new artist</h2>

<%= form_for @artist do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :nationality %>
    <%= f.text_field :nationality, :required => true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image, :required => true %>
  </p>

  <%= f.submit "Create a new awesome artist" %>
<% end %>
