<h2>
  <%= @title %>
</h2>
<div class="poster">
  <img src="<%= @poster %>" alt="" />
</div>
<div class="details">
  <p>
    Year: <%= @year %>
  </p>
  <p>
    Runtime: <%= @runtime %>
  </p>
  <p>
    Country: <%= @country %>
  </p>
  <p>
    Plot: <%= @plot %>
  </p>
</div>
