<h2>This is our page for displaying result</h2>
<hr>
<%# %>
<%#  %>
<p>user input: <%=  @user_input %></p>

<p>result: <%= @result %></p>
<p>year: <%= @result["Year"] %></p>
<img src=<%= @result["Poster"] %> />
<p>poster: <%= @result["Poster"] %></p>
<!-- ["Poster"] -->
