<!DOCTYPE html>
<html>
<head>
  <title>Authors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to("All authors", "/authors") %>
  <%= link_to("Create a new author", "/authors/new") %>
  <%= link_to("All books", "/books") %>
  <%= link_to("Create a new book", "/books/new") %>
</nav>
<%= yield %>

</body>
</html>
