<h1> <%= @title %> </h1>

<p> <strong> Duration: </strong> <%= @duration %> </p>
<p> <strong> Plot: </strong> <%= @plot %> </p>
<p> <strong> Actors: </strong> <%= @actors %> </p>
<img src="<%= @poster %>" alt="">
